.cheat{
    background-color: #5B6230;
    color: #423123;
    border: 20px #1A0010;
    padding: 20px;
}


body {
    background-color: #7D8D4E;
  }
  h1 {
    color: #5B6340;
  }
  h2 {
    color: #666F49;
  }

#mainMenu {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:180px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#6F794F;
	color:#009;
}

#mainMenu a:hover {
	background-color:#7D8859;
	color:#fff;
}  
